PORT=3001
JWT_SECRET=super-secret-jwt-smart-store-key-2026
STUDENT_JWT_SECRET=your_student_jwt_secret_here-jwt-smart-store-key-2026
DATABASE_URL=postgresql://postgres:@localhost:5435/smart_academy_db
DB_NAME=smart_academy_db
CLIENT_URL=http://localhost:5173
